td .mol-edit,
td .mol-delete {
	color: #666;
	transition: 0.5s;
}

td .mol-edit:hover,
td .mol-delete:hover {
	color: #333;
}

a {
	transition: 0.5s;
}

a:hover {
	text-decoration: none;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: #ccc
}

body {
	min-height: 100vh;
}

.footer {
	background-color: #f5f5f5;
	width: 100%;
	transition: .5s;
}

.footer:hover {
	background-color: #f0f0f0;
}

.footer a {
	color: #666;
	text-decoration: underline;
}

.footer a:hover {
	color: #333;
	text-decoration: none;
}